// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Start landing
.landing{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ececec;
        z-index: -1;
        transform: skewY(-6deg);
        transform-origin: top left;
    }
    .container{
        min-height: calc(100vh - 72px);
        display: flex;
        align-items: center;
        padding-bottom: 120px;
        .text{
            flex: 1;
            h2{
                font-size: 40px;
                margin: 0;
                letter-spacing: -2px;
                @media (max-width:575px) {
                    font-size: 30px;
                }
            }
            p{
                font-size: 23px;
                line-height: 1.7;
                margin: 5px 0 0;
                color: #666;
                max-width: 500px;
                @media (max-width:575px) {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        .image{
            @media (max-width:991px) {
                display: none;
            }
            img{
                position: relative;
                width: 600px;
                animation: up-and-down 5s linear infinite;
            }
        }
    }
    >a{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: $main-color;
        transition: $default-transition-duration;
        i{
           animation: bounce 1.5s linear infinite;
        }
    }
}
// End landing
// Start Articles
.articles{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        gap: 40px;
        .box{
            box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            transition: $default-transition-duration;
            img{
                max-width: 100%;
            }
            .details{
                padding: 20px;
                h3{
                    margin: 0;
                }
                p{
                    margin: 10px 0;
                    color: #777;
                    line-height: 1.6;
                }
            }
            .read-more{
                border-top: 1px solid #e6e6e7;
                padding:20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    color: $main-color;
                    font-weight: bold;
                }
                i{
                    color: $main-color;
                }
            }
            &:hover{
                transform: translateY(-10px);
                box-shadow: 0 2px 15px rgb(0 0 0 / 70%);
                i{
                    animation: move 0.5s infinite linear;
                }
            }
        }
    }
}
@keyframes move {
    100%{
        transform: translateX(-10px);
    }
}
// End Articles
// Start Gallery
.gallery{
    background-color: $section-background-color;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            padding: 15px;
            background-color: white;
            box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
        .image{
            position: relative;
            overflow: hidden;
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: rgb(255 255 255 / 20%);
                transition: calc($default-transition-duration * 2);
                opacity: 1;
                z-index: 2;
            }
            img{
                max-width: 100%;
                transition: $default-transition-duration;
            }
            &:hover{ 
                img{
                transform: rotate(5deg) scale(1.1);
            }
            &::before{
                width: 200%;
                height: 200%;
                opacity: 0;
            }
        }
        }
    }
}
}
// End Gallery
// Start Features
.features{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            .image-box{
                position: relative;
                overflow: hidden;
                img{
                    max-width: 100%;
                }
                &::after{
                    position: absolute;
                    content: "";
                    border-style: solid;
                    border-width: 100px 0px 170px 325px;
                    border-color: transparent transparent white transparent;
                    bottom: 0;
                    right: 0;
                    transition: $default-transition-duration;
                }
                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover{
                .image-box::after{
                    border-width: 100px 500px 170px 0px;
                }
            }
            h2{
                margin: 0 auto;
                font-size: 40px;
                width: fit-content;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: calc(100% - 30px);
                    height: 3px;
                    bottom: -7px;
                    left: 15px;
                }
            }
            p{
                text-align: center;
                color: #777;
                line-height: 1.8;
            }
            a{
                display: block;
                font-weight: bold;
                border: 3px solid;
                padding: 10px 20px;
                width: fit-content;
                margin: 0 auto;
                border-radius: 5px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    transition: $default-transition-duration;
                    z-index: -1;
                }
                &:hover::before{
                    width: 100%;
                }
            }
            &:hover{
                a{
                    color: white;
                }
                a::before{
                    width: 100%;
                }
            }
            &.quality{
                .image-box::before{
                    background-color: rgba(#f44036,0.4);
                }
                h2::before{
                    background-color: #f44036;
                }
                a{
                    border-color:#f44036 ;
                    &::before{
                        background-color:#f44036 ;
                    }
                }
            }
            &.time{
                .image-box::before{
                    background-color: rgba(#009688,0.4);
                }
                h2::before{
                    background-color: #009688;
                }
                a{
                    border-color:#009688 ;
                    &::before{
                        background-color:#009688 ;
                    }
                }
            }
            &.passion{
                .image-box::before{
                    background-color: rgba(#03a9f4,0.4);
                }
                h2::before{
                    background-color: #03a9f4;
                }
                a{
                    border-color:#03a9f4 ;
                    &::before{
                        background-color:#03a9f4 ;
                    }
                }
            }
        }
    }
}
// End Features
// Start Testiomonials
.testimonilas{
    background-color: $section-background-color;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            position: relative;
            padding: 20px;
            background-color: white;
            box-shadow: 10px 10px 5px #ccc;
            border-radius: 6px;
            img{
                position: absolute;
                width: 100px;
                right: -10px;
                border-radius: 50%;
                top: -50px;
                border: 10px solid $section-background-color;
            }
            h3{
                margin: 0 auto 10px;
            }
            span{
                display: block;
                margin: 0 auto 10px;
                color: #777;
            }
            i.filled{
                color: #ffbf00;
            }
            p{
                color: #777;
                margin: 10px auto 0;
            }
        }
    }
}
// End Testiomonials
// Start team members
.team-members{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            position: relative;
            padding-top: 60px;
            &::before,
            &::after{
                position: absolute;
                content: "";
                right: 0;
                top: 0;
                height: 100%;
                border-radius: 10px;
            }
            &::before{
                z-index: -2;
                background-color: #f3f3f3;
                width: calc(100% - 60px);
            }
            &::after{
                z-index: -1;
                background-color: #d1d1d1;
                transition: $default-transition-duration;
                width: 0;
            }
            .image-box{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: calc(100% - 60px);
                    border-radius: 10px;
                    transition: $default-transition-duration;
                }
                .socials{
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    a{
                        margin: 10px 0;
                        i{
                            color: #777;
                            transition: $default-transition-duration;
                        }
                    }
                }
            }
            h3{
                margin:10px 0 10px 80px;
                color: $main-color;
                transition: $default-transition-duration;
                color: transparent;
            }
            &:hover{
                img{
                    filter: grayscale(100%);
                }
                a{
                    i{
                    color: $main-color !important;
                    }
                }
                &::after{
                    width: calc(100% - 60px);
                }
                h3{
                    color: $main-color;
                }
            }
            p{
                margin: 10px 0 20px 80px;
                color: #777;
            }
        }
    }
}
// End team members
// Start Services
.services{
    background-color: $section-background-color;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            background-color: white;
            position: relative;
            transition: $default-transition-duration;
            counter-increment: services;
            &::before{
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                top: -3px;
                background-color: $main-color;
                left: 50%;
                transform: translateX(-50%);
                transition: $default-transition-duration;
            }
            &:hover{
                transform: translateY(-10px);
                &::before{
                    width: 100%;
                }
            }
            i{
                display: flex;
                justify-content: center;
                margin: 40px auto 20px;
            }
            h3{
                text-align: center;
                color: $main-color;
                font-weight: bold;
                font-size: 1.8rem;
            }
            a{
                display: block;
                background-color: #d5d5d5;
                text-align: right;
                font-size: 1.2rem;
                padding: 15px 20px;
                color: $main-color;
                position: relative;
                &::before{
                    content: "0" counter(services);
                    position: absolute;
                    background-color: $main-color;
                    color: white;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 80px;
                    font-size: 30px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 15px;
                }
                &::after{
                    content: "";
                    left: 70px;
                    width: 60px;
                    height: 100%;
                    background-color: #d5d5d5;
                    position: absolute;
                    top: 0;
                    transform: skewX(-20deg);
                }
            }
        }
    }
}
// End Services
// Start Skills
.our-skills{
    .container{
        display: flex;
        align-items: center;
        img{
            @media (max-width:991px) {
                display: none;
            }
        }
        .skills{
            flex: 1;
            .skill{
                h3{
                    margin:15px 0;
                }
                div{
                    height: 30px;
                    background-color: #eee;
                    position: relative;
                    span{
                        position: absolute;
                        height: 30px;
                        background-color: $main-color;
                        &::before{
                            content: attr(data-percent);
                            position: absolute;
                            top: -33px;
                            right: -18px;
                            color: $main-color;
                            font-weight: bold;
                        }
                        &::after{
                            position: absolute;
                            content: "";
                            border-style: solid;
                            border-width: 5px;
                            border-color: $main-color transparent transparent transparent;
                            top: -7px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }
}
// End Skills
// Start how it Works
.work-steps{
    background-color: $section-background-color;
    .container{
        display: flex;
        align-items: center;
        gap: 40px;
        >img{
            max-width: 100%;
            @media (max-width:991px) {
                display: none;
            }
        }
        .boxes{
            .box{
                display: flex;
                align-items: center;
                gap: 30px;
                background-color: #f6f5f5;
                padding: 20px;
                border-radius: 10px;
                border: 3px solid white;
                margin-bottom: 15px;
                position: relative;
                z-index: 1;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    background-color: #ededed;
                    width: 0;
                    height: 0;
                    z-index: -1;
                    transition: $default-transition-duration;
                }
                &:hover::before{
                    width: 100%;
                    height: 100%;
                }
                >img{
                    max-width: 60px;
                }
                .content{
                    h3{
                        margin: 0;
                        font-size: 22px;
                    }
                    p{
                        margin: 10px 0 0;
                        line-height: 1.7;
                        font-size: 18px;
                        color: #777;
                    }
                }
            }
        }
    }
}
// End how it Works
// Start Events
.events{
    position: relative;
    .container{
        display: flex;
        align-items: center;
        gap: 40px;
        img{
            @media (max-width:991px) {
                display: none;
            }
        }
        .details{
            text-align: center;
            .time-spans{
                span{
                    width: fit-content;
                    display: inline-block;
                    height: 100px;
                    min-width: 60px;
                    border: 1px solid black;
                    padding: 10px;
                    position: relative;
                    font-size: 35px;
                    color: $main-color;
                    border-radius: 6px;
                    margin-right: 5px;
                    transition: $default-transition-duration;
                    &::before{
                        content: "";
                        width: 100%;
                        background-color: black;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: 25px;
                        transition: $default-transition-duration;
                    }
                    &::after{
                        position: absolute;
                        color: black;
                        font-size: 0.8rem;
                        bottom: 3px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:nth-child(1)::after{
                        content: "Days";
                    }
                    &:nth-child(2)::after{
                        content: "Hours";
                    }
                    &:nth-child(3)::after{
                        content: "Minutes";
                    }
                    &:nth-child(4)::after{
                        content: "Seconds";
                    }
                    &:hover{
                        border-color: $main-color;
                        &::before{
                            background-color: $main-color;
                        }
                    }
                }
            }
            h3{
                font-size: 30px;
                margin: 40px 0 0;
            }
            p{
                line-height: 1.8;
                color: #777;
                font-size: 18px;
            }
        }
    }
    form{
        width: 600px;
        margin: 20px auto;
        padding: 30px 40px;
        background-color: #f6f5f5;
        border-radius: 50px;
        display: flex;
        gap: 40px;
        @media (max-width:991px) {
            flex-direction: column;
            max-width: calc(100% - 10px);
            border-radius: 0;
        }
        input[type="email"]{
            padding: 20px;
            border-radius: 50px;
            border: none;
            flex: 1;
            caret-color: $main-color;
            &::placeholder{
                transition: $default-transition-duration;
            }
            &:focus{
                outline: none;
                &::placeholder{
                    opacity: 0;
                }
            }
            @media (max-width:991px){
                border-radius: 0;
            }
        }
        input[type="submit"]{
            border-radius: 50px;
            border: none;
            background-color: $main-color;
            color: white;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            transition:$default-transition-duration;
            @media (max-width:991px){
                border-radius: 0;
            }
        }
    }
}
// End Events
// Start Pricing
.pricing{
    background-color: $section-background-color;
    position: relative;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
            background-color: white;
            box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
            text-align: center;
            position: relative;
            z-index: 1;
            &:nth-of-type(2){
                .label{
                    position: absolute;
                    writing-mode: vertical-rl;
                    background-color: $main-color;
                    color: white;
                    font-weight: bold;
                    padding: 10px 10px 35px 10px;
                    font-size: 18px;
                    right: 20px;
                    width: 40px;
                    &::before{
                        content: "";
                        position: absolute;
                        border-style: solid;
                        border-color: transparent transparent white transparent;
                        border-width: 20px;
                        right: 0;
                        top: 118px;
                    }
                }
            }
            &::before,&::after{
                position: absolute;
                content: "";
                width: 0;
                height: 50%;
                background-color: #f6f6f6;
                transition: $default-transition-duration;
                z-index: -1;
            }
            &::before{
                top: 0;
                left: 0;
            }
            &::after{
                right: 0;
                bottom: 0;
            }
            &:hover{
                &::before,&::after{
                    width: 100%;
                }
            }
            .title{
                font-weight: bold;
                font-size: 25px;
                margin: 30px auto;
                letter-spacing: -1px;
            }
            img{
                max-width: 80px;
                margin-bottom: 30px;
            }
            .price{
                margin-bottom: 20px;
                span:first-child{
                    color: $main-color;
                    display: block;
                    font-size: 60px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                span:last-child{
                    color: #777;
                }
            }
            ul{
                text-align: left;
                margin-bottom: 20px;
                li{
                    padding: 20px;
                    border-top: 1px solid #eee;
                    &::before{
                        font-family: "Font Awesome 5 Free"; 
                        content: "\f00c";
                        font-weight: 900;
                        color: $main-color;
                        margin-right: 10px;
                    }
                }
            }
            a{
                display: block;
                width: fit-content;
                border: 2px solid $main-color;
                color: $main-color;
                margin: 30px auto 40px;
                padding: 15px 20px;
                border-radius: 6px;
                font-weight: bold;
                transition: $main-color;
                transition: $default-transition-duration;
                &:hover{
                    color: white;
                    background-color: $main-color;
                }
            }
        }
    }
}
// End Pricing
// Start Videos
.videos{
    .container{
        display: flex;
        .left{
            border: 1px solid $section-background-color;
            flex: 400px;
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f4f4f4;
                padding: 10px 15px;
                >h4{
                    margin: 0;
                }
            }
            .box{
                border-bottom: 1px solid $section-background-color;
                padding: 15px;
                cursor: pointer;
                transition: $default-transition-duration;
                >h4{
                    margin: 0 0 10px 0;
                    transition: $default-transition-duration;
                }
                &:hover{
                    background-color: #fafafa;
                    >h4{
                        color: $main-color;
                    }
                }
            }
        }
        .right{
            background-color: $section-background-color;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                max-width: 100%;
            }
            p{
                background-color: white;
                padding: 10px 15px;
            }
        }
        @media (max-width:991px) {
            flex-direction: column;
        }
    }
}
// End Videos
// Start Stats
.stats{
   background-image: url("../../images/stats.jpg");
   background-size: cover;
   position: relative;
   &::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.95);
   }
   .main-title{
    border: none;
    font-weight: bold;
    &::before,
    &::after{
        display: none;
    }
    &:hover{
        color: black;
    }
   }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 30px;
        .box{
            text-align: center;
            background-color: white;
            padding: 30px 15px;
            opacity: 0.8;
            transition: $default-transition-duration;
            position: relative;
            span{
                display: block;
                font-weight: bold;
                &:first-of-type{
                    font-size: 50px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                &:nth-of-type(2){
                    font-style: italic;
                    font-size: 20px;
                    color: $main-color;
                }
            }
            &::before,
            &::after{
                position: absolute;
                content: "";
                height: 0;
                width: 2px;
                background-color: $main-color;
                transition: $default-transition-duration;
            }
            &::before{
                top: 0;
                right: 0;
            }
            &::after{
                bottom: 0;
                left: 0;
            }
            &:hover{
                opacity: 1;
                &::before,
            &::after{
                height: 100%;
            }
            }
        }
    }
}
// End Stats
// Start Discount
.discount{
   display: flex;
   min-height: 100vh;
    flex-wrap: wrap;
   .image{
    text-align: center;
    background-image: url("./../../images/discount-background1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    position: relative;
    z-index: 1;
    color: white;
    animation: Change-background 5s infinite linear;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-color: rgba($main-color,0.95);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .content{
        text-align: center;
        padding: 0 20px;
        h2{
            font-size: 40px;
            letter-spacing: -2px;
        }
        p{
            line-height: 1.7;
            max-width: 500px;
            font-size: 18px;
        }
        img{
            width: 300px;
            max-width: 100%;
        }
    }
    @media (max-width:991px) {
        flex: 100%;
       }
}
   .form{
    display: flex;
    flex: 50%;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    .content{
        h2{
            font-size: 40px;
            letter-spacing: -2px;
        }
        form{
            input:not(:last-child),
            textarea{
                display: block;
                width: 100%;
                margin-bottom: 25px;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #ccc;
                background-color: #f9f9f9;
                caret-color: $main-color;
                &:focus{
                    outline: none;
                }
            }
            textarea{
                height: 200px;
                resize: none;
            }
            input[type="submit"]{
                display: block;
                width: 100%;
                padding: 15px;
                background-color: $main-color;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border: none;
                cursor: pointer;
                transition: $default-transition-duration;
                &:hover{
                    background-color: $alt-color;
                }
            }
        }
    }
}
}
@keyframes Change-background {
    0%,100%{
        background-image: url("./../../images/discount-background1.jpg");
    }
    50%{
        background-image: url("./../../images/discount-background2.jpg");
    }
}
// End Discount
// Start Footer
footer{
    background-color: #191919;
    padding-top: 100px;
    color: white;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        align-items: flex-start;
        gap: 35px;
        .box{
            h2{
                color: white;
                font-size: 50px;
                margin: 0 0 20px;
            }
            .socials{
                i{
                    width: 50px;
                    height: 50px;
                    background-color: #313131;
                    color: #b9b9b9;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    transition: $default-transition-duration;
                    &.facebook:hover{
                        background-color: #1877f2;
                    }
                    &.twitter:hover{
                        background-color: #1da1f2;
                    }
                    &.youtube:hover{
                        background-color: #ff0000;
                    }

                }
            }
            p{
                line-height: 2;
                color: #b9b9b9;
            }
            ul{
                li{
                    padding: 15px;
                    border-bottom: 1px solid #444;
                    a{
                        color: #b9b9b9;
                        position: relative;
                        left: 0;
                        transition: $default-transition-duration;
                    i{
                        margin-right: 10px;
                        color: $main-color;
                    }
                    &:hover{
                        left: 10px;
                        color: white;
                    }
                }
                }
            }
            .line{
                display: flex;
                align-items: center;
                color: #b9b9b9;
                margin-bottom: 30px;
                i{
                    font-size: 25px;
                    color: $main-color;
                    margin-right: 10px;
                }
                .phones{
                    line-height: 1.7;
                    flex: 1;
                    span{
                        display: block;
                    }
                }
            @media (max-width:767px) {
                flex-direction: column;
                i{
                    margin-bottom: 10px;
                }
            }
            }
            img{
                width: 75px;
                border: 3px solid white;
                margin: 2px;
            }
        @media (max-width:767px) {
            text-align: center;
        }
        }
        
    }
    .copy-rights{
        border-top: 1px solid #eee;
        text-align: center;
        padding: 10px 0;
        font-size: 1.5rem;
        span{
            color: red;
        }
    }
} 
// End Footer 